/* Empty. Add your own CSS if you like */


@charset "utf-8";
/* CSS Document */
html,body,div,ul,ol,li,p,h3,h4,span,input,textarea,select,option,table,tr,td,h2,h1,dl,dt,dd,
h5{padding:0;margin:0;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-family:"微软雅黑";width:100%;height:100%;overflow: hidden;min-width:320px;color:#000;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;font-size: 14px;-webkit-overflow-scrolling: touch; /* ios5+ */}
img{border:none;}
html{font-size:100px;}
ul,li{list-style-type:none;}
input{outline: none;}
em,i{font-style:normal;}
a{text-decoration:none; color:#000;}
.clear{display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{height:1%;}
.cls{ clear:both;}
/****iconfont****/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); 
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/iconfont.woff') format('woff'), 
    url('../fonts/iconfont.ttf') format('truetype'), 
    url('../fonts/iconfont.svg#uxiconfont') format('svg'); 
}
.iconfont{
    font-family:"iconfont" !important;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}





.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  height: 150px;
}

.slider img {
	height: 150px;
	width: 100%;
}

.bar-header {
   height:1.25rem;


}
.bar-header .title {
   height:1.25rem;
   line-height: 1.25rem;
}

.has-header {
   top: 1.25rem;
}
/* 头部 */

.header
{
    position: absolute;
    top: 0.45rem;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0.8rem;
    background: #FFF;
    font-size: 0.46rem;
    color: #000000;
    line-height: 0.45rem;
    text-align: center;
}


input[type=”button”], input[type=”submit”], input[type=”reset”] {-webkit-appearance: none;}

:-moz-placeholder { 
    color: #635F6B;  
}

::-moz-placeholder { 
    color: #635F6B;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #635F6B;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #635F6B;
}


a{text-decoration:none ; color:#000; }
a:visited {
    color:#000;
    text-decoration:none;
}



.hdtopyy{ width:100%; height:0.1rem; position:absolute; top:0.8rem; background:url(../teImg/hdyytop.png) repeat-x;}
.hdlogo{width:2.38rem; height:0.52rem; margin:0.00rem auto 0rem auto;}
.hdlogo>img{width:100%;}
.hdrpop{background:url(../teImg/hddhlog.png) no-repeat;background-size:contain;width:0.54rem; height:0.44rem; position:absolute;top:0.1rem;left:0.22rem; font-size:0.12rem;color:#fff; line-height:0.15rem; padding-top:0rem; padding-left:0.33rem; display:block;z-index:15;}
.hdrback{background:url(../teImg/hdflog.png) no-repeat;background-size:contain;width:0.54rem; height:0.44rem; position:absolute;top:0.1rem;left:0.22rem; font-size:0.12rem;color:#fff; line-height:0.15rem; padding-top:0rem; padding-left:0.33rem; display:block;z-index:15;}
.hdrright{background:url(../teImg/hdlogr.jpg) no-repeat;background-size:contain;width:0.64rem; height:0.44rem; position:absolute;top:0.0rem;right:0.22rem; font-size:0.12rem;color:#fff; line-height:0.15rem; padding-top:0rem; padding-left:0.33rem; display:block;}
.headfdv{background:url(../teImg/hdflog.png) no-repeat; background-size:cover; width:0.34rem; height:0.34rem; position:absolute; left:0.3rem;top:0.23rem; z-index:99; display:block;}
.hdlogotit{width:65%; height:0.8rem; margin:auto;font-size:0.36rem;color:#103769;line-height:0.8rem;text-align:center; overflow:hidden;}



.content{color:#333; width:100%;height:100%;overflow: hidden; position:absolute;top:0;padding-top:1.25rem; padding-bottom:1rem;min-width:3.2rem;margin:0 auto;background: #f7f7f7;}
.main1 {width: 100%;height: 100%;position:relative;overflow:auto;overflow-x:hidden;text-align:left;}


/*首页-s*/
.synr2img{width:100%;height:0.36rem;margin:0.23rem auto 0.43rem auto;padding-left:0.3rem;}
.synr2img>span{background:url(../teImg/lbanr1tlog.png) no-repeat; background-size:cover; width:0.38rem; height:0.35rem; float:left;}
.synr2img>em{font-size:0.26rem;color:#395983; line-height:0.36rem; float:left; font-style:normal;}

.lbanr1{width:100%;height:1.3rem; overflow:hidden; margin-bottom:0.3rem;}
.lbanr1>ul{width:100%; height:1.3rem;overflow:hidden;}
.lbanr1>ul>li{ width:25%; float:left;}
.lbanr1>ul>li>a>div{ width:0.9rem; height:0.9rem; margin:auto; display:block; border-radius:100%;}
.lbanr1>ul>li>a>div>img{width:100%;}
.lbanr1>ul>li>a>em{display:block; width:100%; heigfs ht:0.24rem; font-size:0.24rem; color:#395983; line-height:0.24rem; text-align:center; margin-top:0.1rem; font-style:normal;}
.synr4dv{width:100%; overflow:hidden; background:#efefef; padding-bottom:0.3rem;}
.synr4yy{display:block; width:100%; background:url(../teImg/synr2yy.jpg) repeat-x; height:0.24rem;}
.synr3tit{display:block;width:95%; margin:auto; height:0.5rem; background:#fff;font-size:0.26rem;color:#395983; line-height:0.5rem; border-radius:0.02rem; overflow: hidden; padding-left:0.13rem;}


.xyglcsrrdv{ width:95%; height:1.96rem; margin:auto; background:#fff; border-radius:0.03rem; margin-top:0.1rem; overflow:hidden;}
.xxlsrrp{ width:100%; height:0.65rem; border-bottom:1px solid #f3f2f5; overflow:hidden; background:#fff; position:relative;}
.xxlsyyss1{ width:0.8rem; height:0.32rem; margin-top:0.16rem; float:left; margin-left:0.26rem; background:#e79700;font-size:0.28rem;color:#fff; line-height:0.32rem; text-align:center; border-radius:0.02rem;}
.xxlsyyss2{ width:0.8rem; height:0.32rem; float:left; margin-top:0.16rem; margin-left:0.13rem; background:#e30000;font-size:0.28rem;color:#fff; line-height:0.32rem; text-align:center;border-radius:0.02rem;}
.xxlsrrp>em{ float:left;font-size:0.3rem;color:#395983; line-height:0.65rem; margin-left:0.26rem;}
.xxlsrrp>i{ float:left;font-size:0.24rem;color:#e89440; line-height:0.8rem; margin-left:0.23rem;}
.xxlsrrp>b{ float:right; width:1.6rem; height:0.5rem; background:#e89440; font-size:0.28rem;color:#fff; line-height:0.5rem; text-align:center; border-radius:0.3rem; margin-top:0.15rem; margin-right:0.3rem;}

.ssxqbmdv{ width:100%; height:1.28rem;}
.ssxqbmdv2{ width:100%; height:1.28rem;}
.ssxqmf1{ background:url(../teImg/cpcqnr2fs.png) no-repeat; width:1.05rem; height:1.05rem; background-size:cover; float:left;font-size:0.27rem;color:#e89440; line-height:1.38rem; text-align:center; margin:0.18rem 0.35rem 0rem 0.23rem }
.ssxqbmdv>p{ float:left; margin-right:0.35rem;}
.ssxqbmdv>p>span{ display:block;font-size:0.36rem;color:#e89440; line-height:0.36rem; text-align:center; margin-top:0.3rem;}
.ssxqbmdv>p>em{ display:block;font-size:0.26rem;color:#395983; line-height:0.26rem; text-align:center;margin-top:0.19rem;}

.ssxqbmdv2>p{ float:left; margin-right:0.75rem;}
.ssxqbmdv2>p:first-child{margin-left:0.5rem;}
.ssxqbmdv2>p>span{ display:block;font-size:0.36rem;color:#e89440; line-height:0.36rem; text-align:center; margin-top:0.3rem;}
.ssxqbmdv2>p>em{ display:block;font-size:0.26rem;color:#395983; line-height:0.26rem; text-align:center;margin-top:0.19rem;}

.xxxqrr{ float:left; margin-left:0.15rem; margin-top:0.33rem;}
.xxxqrr>span{ display:block;font-size:0.22rem;color:#395983; line-height:0.22rem; margin-bottom:0.05rem;}
.xxxqrr>span>em{color:#e89440;}
.xfkdv{ position:fixed; width:3.27rem; height:1.22rem; right:0.1rem; z-index:9999;}
.xfkdv>a{ display:block;background:url(../teImg/xfzxbj.png) no-repeat; background-size:cover; width:3.1rem; height:1.08rem; position:absolute; left:0rem; top:0.1rem; z-index:1;}
.xfkdv>span{ display:block;background:url(../teImg/xfclosebtn.png) no-repeat; background-size:cover; width:0.34rem; height:0.34rem; position:absolute; right:0rem; top:0rem; z-index:2;}
/*首页-e*/

/*发现境内服务列表页-s*/
.fxjwnrdv{ width:95%; margin:auto; background:#fff; overflow:hidden; padding-bottom:1rem; margin-top:0.2rem;}
.xxlsrrp>a{ background:url(../teImg/fxdzimg2.png) no-repeat; width:0.4rem; height:0.38rem; display:block; background-size:cover; float:right; margin:0.13rem 0.27rem 0rem 0rem;}
.fxjnimg1{max-width:75%; margin:0.3rem auto;}
.fxjnimg1>img{ width:100%;}
.fxjnwap{width:92%; margin:auto; margin-bottom:0.2rem;font-size:0.24rem;color:#193e6f; line-height:0.35rem; text-indent:0.48rem;}
.fxyycpfix{ display:block;position:fixed;bottom:0rem; left:0; z-index:9999999999; width:100%; height:0.8rem; background:#e79700;font-size:0.32rem;color:#fff; line-height:0.8rem; text-align:center;}
/*发现境内服务列表页-e*/


/*发现境内服务详情页-s*/
.fxlbdv{width:95%; margin:0.2rem auto; padding-bottom:0.2rem;}
.xxlsrrp>i{float:left; margin-right:0.4rem; max-width:61%; height:0.65rem; overflow:hidden;font-size:0.3rem;color:#395983; line-height:0.65rem;}
.fxlbnr1dv{width:100%; margin:auto; margin-bottom:0.1rem; padding:0.15rem 0.1rem 0.2rem 0.1rem; overflow:hidden; background:#fff; position:relative;}
.fxlbnr1dv>a{ display:block;}
.fxlbnr1img{ width:2.1rem; height:1rem; float:left;}
.fxlbnr1img>img{ width:100%;}
.fxlbnr1wz{ width:4.7rem;height:1rem; overflow:hidden; float:right; font-size:0.26rem;color:#395983; line-height:0.33rem;}
.xxlsrrpem{ background:url(../teImg/fxlbrlog.png) no-repeat; background-size:cover; width:0.52rem; height:0.52rem; display:block; position:absolute; right:0rem; top:0rem; z-index:999;}

/*发现境内服务详情页-e*/






/* 发现保险列表 */
.fxbxlbul{width:95%; height:0.65rem; margin:0.5rem auto 0.15rem auto;overflow:hidden;}
.fxbxlbul>li{width:49.7%; height:0.65rem; overflow:hidden;background:#fff;}
.fxbxlbul>li>span{display:block;font-size:0.28rem;color:#686868; line-height:0.65rem; float:left; padding-left:31%;}
.fxbxlbul>li>em{display:block; background:url(../teImg/bxlbxjt.png) no-repeat; width:0.33rem; height:0.13rem;float:left;margin:0.27rem 0rem 0rem 0.15rem; background-size:cover;}
.fxbxlbulia{float:left;}
.fxbxlbulib{float:right;}

.khlbtc{width:3.55rem;position:absolute; left:2.6%; top:1rem;z-index:12; background:#fff; border-radius:0.03rem;}
.khlbtc2{width:3.55rem;position:absolute; left:50.6%; top:1rem;z-index:12; background:#fff; border-radius:0.03rem;}
.khlbtcw>ul>span{height:0.87rem;font-size:0.3rem; color:#686868; line-height:0.88rem; text-align:center; display:block; border-bottom:0.03rem #828283 solid;}
.khlbtcw>ul>li{height:0.85rem; border-top:0.02rem #f3f2f5 solid; font-size:0.3rem; color:#76727d; line-height:0.86rem; text-align:center;}
.khlbtcw>ul>li:first-child{ border-top:none;}
.khlbtcw>ul>em{display:block;height:0.6rem; padding-top:0.2rem;}
.khlbtcw>ul>em>i{background:url(../teImg/khlbsh.png) no-repeat; background-size:cover; width:0.33rem; height:0.13rem; margin:auto; display:block;}
.khlbtcw2>ul>span{height:0.87rem;font-size:0.3rem; color:#686868; line-height:0.88rem; text-align:center; display:block; border-bottom:0.03rem #828283 solid;}
.khlbtcw2>ul>li{height:0.85rem; border-top:0.02rem #f3f2f5 solid; font-size:0.3rem; color:#76727d; line-height:0.86rem; text-align:center;}
.khlbtcw2>ul>li:first-child{ border-top:none;}
.khlbtcw2>ul>em{display:block;height:0.6rem; padding-top:0.2rem;}
.khlbtcw2>ul>em>i{background:url(../teImg/khlbsh.png) no-repeat; background-size:cover; width:0.33rem; height:0.13rem; margin:auto; display:block;}
.gnr2lbul{width:100%; background:#fff; border-radius:0.03rem; margin-top:1.45rem; overflow:hidden; padding-top:0.55rem;}
.gnr2lbul>li{width:16.6%; height:1.35rem; float:left; margin-bottom:0.65rem; position:relative;}
.gnr2lbul>li>img{width:0.9rem; height:0.9rem; margin:auto; display:block;}
.gnr2lbul>li>span{width:100%; height:0.4rem;display:block;font-size:0.24rem; color:#395983; line-height:0.4rem; text-align:center;}
.gnr2lbul>li>em{display:block;width:0.41rem;height:0.2rem;background:#e00000;position:absolute;right:0rem; top:0rem;font-size:0.18rem;color:#ffffff; line-height:0.2rem; text-align:center; }
.khlbtcw{width:100%; height:100%; position: fixed; z-index:11;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');background:rgba(55,55,55,0.6);display:none;}
.khlbtcw2{width:100%; height:100%; position: fixed; z-index:11;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');background:rgba(55,55,55,0.6);display:none;}
  
  
/* 发现保险列表-e */

.xtuolbdv{width:95%; margin:auto; background:#fff; overflow:hidden; margin-bottom:0.1rem; padding-bottom:0.1rem;}





/* 境内服务,信托 详情页 -e */
.xtuolbdv{width:95%; margin:auto; background:#fff; overflow:hidden; margin-bottom:0.1rem; padding-bottom:0.1rem;}
.bxcpxqdv{width:95%; margin:0.2rem auto; background:#fff; border-radius:0.02rem; overflow:hidden;}
.bcsnr1f{width:50%; float:left; margin-bottom:0.55rem;}
.bcsnr1f>span{display:block;font-size:0.42rem; color:#e89440; line-height:0.42rem; margin:0.3rem auto 0.2rem auto; text-align:center;}
.bcsnr1f>em{display:block;font-size:0.28rem; color:#395983; line-height:0.28rem;text-align:center;}
.bcsnr1m{width:90%; margin:auto;height:0.75rem;}
.bcsnr1m>p{float:left; padding:0rem 2.3%;}
.bcsnr1m>p>span{font-size:0.24rem; color:#395983; line-height:0.24rem; float:left; margin-right:0.12rem;}
.bcsnr1m>p>em{font-size:0.24rem; color:#e89440; line-height:0.24rem; float:left;}
.bcsnr11d{overflow:hidden;}
.bpxqbk2dv{width:95%; margin:0.2rem auto; background:#fff; border-radius:0.02rem; overflow:hidden; margin-bottom:0.2rem;}
.bpbk2tit{height:0.65rem; display:block;font-size:0.28rem; color:#8b8b8b; line-height:0.65rem; border-bottom:0.01rem #efefef solid;padding-left:0.3rem; margin-bottom:0.2rem;}
.bpxqbk2dv>p{overflow:hidden; margin-bottom:0.35rem; font-size:0.26rem; line-height:0.35rem;}
.bpxqbk2dv>p>span{ width:36%; float:left; padding-left:0.3rem; overflow:hidden;color:#8b8b8b;}
.bpxqbk2dv>p>em{ width:64%; float:right; overflow:hidden;color:#395983;}
.bxxqbmdg{width:100%;height:1rem;  z-index:99999;font-size:0.32rem; line-height:1rem; text-align:center;}


.fxyycpsg{float:left;width:50%; height:1rem; background:#d32e00;color:#fff !important;}
.fxyycpyy{float:left;width:50%; height:1rem;background:#e79700;color:#fff !important;}

.xtbldv{background:url(../teImg/xtblbj.png) no-repeat; background-size:cover; width:2.95rem; height:2.95rem; position:relative; margin:0.35rem auto 0.05rem auto;}
.xtbldv>i{display:block; position:absolute; top:1.3rem; left:0rem; text-align:center;font-size:0.7rem; line-height:0.7rem; color:#e89440; width:100%;}
.xtbldv>span{ width:100%;position:absolute; top:2.1rem; left:0rem;font-size:0.26rem; line-height:0.26rem; color:#395983; text-align:center;}
.xtbldv>span>em{color:#e79340;}
.bcsnr1m22{width:94%; margin:auto;height:0.75rem;}
.bcsnr1m22>p{width:50%; height:0.3rem; overflow:hidden; float:left;font-size:0.26rem; line-height:0.26rem; color:#395983;text-align:center;}
.bcsnr1m22>p>em{color:#e89440 !important;}
/* 境内服务,信托 详情页 -e */

/*提示页-s*/
.tsdadv{position:fixed; z-index:99;width:100%; height:100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');background:rgba(55,55,55,0.6); }
.tsma{width:70%; min-height:2rem; padding-bottom:0.6rem; background:#f3f2f5;position:absolute;left: 50%;margin-left:-35%;top: 50%;margin-top:-2.5rem;border-radius:0.06rem;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99373737', endColorstr='#99373737');background:rgba(55,55,55,0.7);}
.tsma>img{ display:block;width:0.7rem; height:0.7rem; margin:0.6rem auto 0.3rem auto;}
.tsma>span{ display:block; margin:auto;width:84%;font-size:0.3rem;color:#fff; line-height:0.5rem; text-align:center;}
.tsma>span>em{ color:#e79700 !important;}
/*提示页-s*/


.zcsjyzdadv{width:100%; height:100%;background:#efefef; overflow:hidden;}
.zctyzlogbj{width:65%; position:absolute;left:0rem; bottom:0rem; z-index:1;}
.zctyzlogbj>img{ width:100%;}
.zcwjtit2{display:block;width:90%; margin:auto;font-size:0.32rem; line-height:0.32rem;color:#635f6b;text-align:center;margin-top:0.5rem;}
.zcwjfrm{position:relative; z-index:2;display:block; padding-top:0.2rem;}
.zctel{margin:0.1rem auto 0rem auto;}
.zctel,.zcyzm{width:95%; height:0.9rem;background:#fff; overflow:hidden;border-radius:0.03rem;}
.zctel>span,.zctel>input,.zcyzm>span,.zcyzm>input{float:left;height:0.75rem; margin-top:0.08rem;font-size:0.36rem; line-height:0.8rem; background:none;background-color:#fff;}
.zctel>span,.zcyzm>span{width:27%;color:#635f6b; text-align:center;}
.zctel>input{width:71%;color:#1d1d26 !important; border:0rem; padding:0rem 0.1rem;}
.zcyzm{margin:0.1rem auto 0rem auto;}
.zcyzm>input{width:50%;color:#1d1d26 !important; border:0rem; padding:0rem 0.1rem;}
.zcyzm>em{width:22%;float:left;height:0.75rem; margin-top:0.07rem;font-size:0.24rem; line-height:0.8rem; color:#e79700; border-left:0.02rem #f3f2f5 solid; text-align:center;}
.zcyzm>button{width:22%;float:left;height:0.75rem; margin-top:0.07rem;font-size:0.24rem; line-height:0.8rem; color:#e79700;  text-align:center; background:none; border:none;}


.zcwjnext{display:block;width:95%; height:1.18rem; margin:0.2rem auto; background:#e79700;font-size:0.36rem; line-height:1.18rem; color:#fff; text-align:center; border:0rem;border-radius:0.05rem !important;-webkit-appearance: none;}
.zcwjbz{display:block;width:95%; margin:auto;font-size:0.24rem; line-height:0.24rem;color:#a8a8aa;text-align:center;margin-top:0.28rem;}
.zcmmjs{width:65%; margin:0.27rem auto;font-size:0.24rem; line-height:0.27rem;color:#a8a8aa; overflow:hidden;}
.zcmmjs>span{display:block; width:0.27rem; height:0.27rem; float:left;}
.zcmmjs>span>img{width:100%;}
.zcmmjs>em{display:block; float:left; margin-left:0.17rem;}
.zcmmjs>em>i{color:#e79700;}
.cpxqzfdadv{ margin-bottom:1.5rem;}
.lbalogonew{ position:relative; z-index:99999;}
.lbalnlogo{width:2.75rem; height:2.88rem;margin:1rem auto 0rem auto;}
.lbalnlogo>img{width:100%;}
.lbalnna{width:93%;height:0.89rem; overflow:hidden; margin:0.74rem auto 0rem auto;}
.lbalnnalef{width:17%;height:0.89rem;float:left; background:#ffffff; border-radius:0.05rem 0rem 0rem 0.05rem;}
.lbalnnalef>img{width:0.44rem; height:0.44rem; display:block; margin:auto; margin-top:0.22rem;}
.lbalnnarig{display:block;width:82.5%; height:0.89rem !important;background:#ffffff; border-radius:0rem 0.05rem 0.05rem 0rem; float:right;padding-left:0.35rem !important; line-height:0.89rem; font-size:0.36rem !important; color:#1d1d26 !important; border:none;}
.lbalnpwd{width:93%;height:0.89rem; overflow:hidden; margin:0.14rem auto 0rem auto;}
.lbalnpwdlef{width:17%;height:0.89rem;float:left; background:#ffffff; border-radius:0.05rem 0rem 0rem 0.05rem;}
.lbalnpwdlef>img{width:0.4rem; height:0.47rem; display:block; margin:auto; margin-top:0.2rem;}
.lbalnpwdrig{display:block;width:82.5%; height:0.89rem !important;background:#ffffff; border-radius:0rem 0.05rem 0.05rem 0rem; float:right;padding-left:0.35rem !important; line-height:0.89rem; font-size:0.36rem !important; color:#1d1d26 !important; border:none;}
.lbalndl{display:block;width:93%; height:1.18rem;text-align:center;background:#e79700;margin:0.23rem auto 0rem auto;border-radius:0.05rem;line-height:0.89rem; font-size:0.36rem !important; color:#ffffff !important; border:none;-webkit-appearance: none;}
.lbalnbm{width:93%; height:0.3rem; margin:0.22rem auto 0rem auto;}
.lbalnbmlf{float:left; font-size:0.3rem; color:#76727d; line-height:0.3rem;}
.lbalnbrig{float:right;font-size:0.3rem; color:#76727d; line-height:0.3rem;}
/* 注册-相关 -e */


/* 工具箱 -s */
.qbgnr2nrul{width:100%;height:1.5rem; background:#fff; overflow:hidden; margin-bottom:0.2rem;}
.gjxqbcss{background:#e79700 !important; color:#fff !important;}
.qbgnr2nrul>li{width:20%; height:1.5rem;float:left;}
.qbgnr2nrul>li>a{display:block;height:1.5rem;color:#395983; overflow:hidden;}
.qbgnr2nrul>li>a>div{width:0.74rem; height:0.74rem; margin:0.2rem auto 0rem auto;}
.qbgnr2nrul>li>a>div>img{width:0.74rem; height:0.74rem;}
.qbgnr2nrul>li>a>em{display:block;width:100%; height:0.26rem; overflow:hidden; margin:0.1rem auto;font-size:0.26rem;line-height:0.26rem;text-align:center;}
.gjxqbdddv{width:93%;margin:0.2rem auto;}
.gxqbddnr{width:100%;height:1.35rem;margin:0.1rem auto;background:#fff;border-radius:0.03rem;overflow:hidden;}
.gxqbddnrf{width:19%;height:1.35rem;float:left;}
.gxqbddnrf>div{width:0.66rem;height:0.66rem;margin:0.2rem auto 0.1rem auto;}
.gxqbddnrf>div>img{width:100%;}
.gxqbddnrf>em{display:block;font-size:0.18rem;line-height:0.18rem; color:#395983; text-align:center;}
.gxqbddnrr{width:80%; height:1.35rem; float:right; border-left:1px #efefef solid;}
.gxqbddnrr>span{display:block;font-size:0.3rem;line-height:0.65rem; color:#395983; width:100%; height:0.65rem; padding-left:0.22rem;overflow:hidden;}
.gxqbddnrr>span:first-child{border-bottom:1px #efefef solid;}
.gxqbddnrr>span>em{color:#e89440 !important;}
.ddxqtopqhul{width:100%; height:0.7rem; margin-bottom:0.2rem;overflow:hidden; border-radius:0.03rem; background:#fff;}
.ddxqtopqhul>li{ width:50%; height:100%; float:left;font-size:0.3rem;color:#4e6079; line-height:0.7rem; text-align:center;}
.ddxqtopqhul>li>a{ display:block;color:#4e6079;}
.ddxqcss{background:#e79700; color:#fff !important;}
.ddxqcss>a{color:#fff !important;}
.tddxqtnrdv{width:93%; margin:0.2rem auto;}
.gxddnr3dv{margin:auto; background:#FFF;}
.gxddnr3dv>span{ padding-left:0.38rem;width:100%; height:0.65rem; border-bottom:1px #efefef solid;font-size:0.28rem;color:#395983; line-height:0.65rem; display:block;}
.gxddnr3dv>span>em{ color:#e89440 !important;font-size:0.3rem !important;}
.ddxqxx{width:100%; background:#fff; overflow:hidden; margin-top:0.1rem;}
.ddxqxx>span{display:block;width:100%; height:0.68rem;font-size:0.3rem;color:#395983; line-height:0.7rem; padding-left:0.4rem; border-bottom:1px #f3f2f5 solid;}
.ddxqxx>p{width:100%; padding:0.2rem 0.4rem;}
.ddxqxx>p>em{display:block;font-size:0.24rem;color:#395983; line-height:0.24rem; margin-bottom:0.12rem;}
.tddztdv{width:93%;margin:0.2rem auto 1rem auto;overflow:hidden; border-radius:0.03rem;}
.ddxqswip{background:#FFF;overflow:hidden;}
.ddztxz{width:100%; margin-top:0.2rem;}
.ddxtxzf{width:23%; height:100%; float:left;font-size:0.36rem;color:#635f6b; line-height:0.9rem; text-align:center;}
.ddxtzm{width:77%; height:100%; float:left; position:relative; padding-left:0.2rem;}
.ddxtzm>select,.ddxtzm>option{width:100%; border:none; border-radius:0rem; background:none;}
.ddxtzm>select{ height:0.9rem;font-size:0.36rem;color:#1d1d26; line-height:0.9rem; position:relative; z-index:5;}
.ddztxr{width:24%; height:0.74rem;margin-top:0.08rem;border-left:0.02rem solid #f3f2f5; position:absolute; right:0rem; top:0rem; z-index:2;}
.ddztxr>img{ display:block;width:0.34rem; margin:0.3rem auto 0rem auto;}
.ddztqd{width:100%; height:1.15rem; margin-top:0.4rem;font-size:0.36rem;color:#fff; line-height:1.15rem; text-align:center; background:#e79700; border-radius:0.03rem; border:none; overflow:hidden;-webkit-appearance: none;}
.ddztf{width:100%; height:1.13rem;position:relative; border-right:0.02rem solid #f3f2f5; background:#fff; border-bottom:1px #efefef solid; padding-top:0.1rem;}
.ddztfimg{width:0.56rem; height:0.55rem; margin:0.17rem 0rem 0rem 0.55rem;}
.ddztfimg>img{ width:100%;}
.ddztspan{ position:absolute; left:0.89rem; top:0.45rem; width:2.98rem; height:0.44rem; display:block;}
.ddztspan>img{ width:100%;}
.ddxtmm{ background:#fff; padding-left:0.5rem;width:100%; height:0.7rem;font-size:0.28rem;color:#aaaaab; line-height:0.7rem; display:block;}
.rztjtcdv{width:85%; position:fixed; left:50%; margin-left:-42.5%; top:50%; margin-top:-4.4rem;z-index:99; border:0.01rem #d4d3d3 solid; border-radius:0.1rem; overflow:hidden; background:#fff; overflow:hidden; box-shadow:0 0 0.2rem #d4d3d3; }
.rztjtcclbtn{display:block;position:absolute; right:0.25rem; top:0.25rem; background:url(../teImg/zcclose.png) no-repeat; background-size:cover; z-index:100; width:0.38rem; height:0.37rem;}
.rztjtczsimg{width:72%; margin:0.96rem auto 0.8rem auto;}
.rztjtczsimg>img{width:100%;}
.rztjtczform{display:block;width:76%; height:0.7rem; margin:0rem auto 0.3rem auto;}
.rztjtczsasc{width:49%; height:0.7rem; float:left;font-size:0.3rem;color:#fff; line-height:0.7rem; text-align:center; background:#e79700; border:none;-webkit-appearance: none;}
.rztjtczsacx{width:49%; height:0.7rem; float:right;font-size:0.3rem;color:#fff; line-height:0.7rem; text-align:center;background:#b6b6b6;border:none;-webkit-appearance: none;}
.tgxlcsdv{width:93%;margin:0.2rem auto;overflow:hidden;}
.tgxcstopdv{background:#FFF; overflow:hidden;}
.tgcsnr1f{width:28%; float:left;}
.tgcsnr1f>img{display:block;width:69%; margin:0.16rem auto 0.12rem auto;}
.tgcsnr1f>span{display:block; text-align:center;font-size:0.3rem;color:#395983; line-height:0.3rem;}
.tgnr1r{width:71%; float:right;}
.tgxnr1p1{overflow:hidden; margin-top:0.42rem; height:0.3rem;}
.tgxnr1p1>span{float:left; margin-right:0.1rem;font-size:0.26rem;color:#395983; line-height:0.26rem;} 
.tgxnr1p1>em{float:left; width:0.8rem; height:0.24rem; background:#e00000;font-size:0.2rem;color:#fff; line-height:0.2rem; margin-top:0.03rem; text-align:center;}
.tgxnr1p2{ margin-top:0.32rem;} 
.tgxnr1p2>span{font-size:0.3rem;color:#395983; line-height:0.3rem;} 
.tgxnr1p2>span>em{color:#e89440 !important;}  
.tgxnr1p3{width:100%; height:0.6rem; overflow:hidden; margin-top:0.3rem;}
.tgxnr1p3>span{font-size:0.26rem; color:#395983; line-height:0.3rem; float:left; margin-left:0.27rem; margin-right:0.21rem;}
.tgxnr1p3>em{width:0.3rem; height:0.3rem; float:left; margin-right:0.15rem;}
.tgxnr1p3>em>img{ width:100%;}
.tgxnr1p3>i{font-size:0.26rem; color:#395983; line-height:0.3rem; float:left; margin-right:0.2rem;}
.tgcstopnr1{overflow:hidden;}
.tgxnr1ms{display:block;font-size:0.26rem; color:#395983; line-height:0.36rem; padding:0.2rem 2.5% 0.3rem 2.5%;border-top:0.02rem #f0eff2 solid;}
.tgnr1ts{ height:0.55rem;background:#fff;display:block;font-size:0.3rem; color:#395983; line-height:0.55rem; padding-left:0.33rem; margin-top:0.25rem;} 
.gxxxsp{display:block; height:0.8rem; background:#fff;font-size:0.3rem; color:#395983; line-height:0.8rem; padding-left:0.24rem; margin-top:0.1rem;}  
.gxxxsp>em{ display:inline-block;width:0.11rem; height:0.11rem; background:#e90000; line-height:0.8rem; margin-right:0.2rem; border-radius:50%;}  
.zhyhktpul{width:93%; height:0.7rem; margin:0.4rem auto 0.35rem auto; border-radius:0.03rem; overflow:hidden; background:#fff;}
.zhyhktpul>li{width:33.3%; height:0.7rem; float:left; border-left:0.01rem #f3f2f5 solid;}
.zhyhktpul>li:first-child{ border:none;}
.zhyhktpul>li>a{display:block;font-size:0.3rem;color:#395983; line-height:0.7rem; text-align:center;}
.zhyhkpulcss{background:#e79700; color:#fff !important;}
.zhyhkpulcss>a{background:#e79700; color:#fff !important;}
  
.tgjxnrr2rigp1{ overflow:hidden; padding-top:0.25rem;}
.tgjxnrr2rigp1>b{float:left;font-size:0.28rem; color:#fff; line-height:0.28rem; padding:0rem 0.47rem 0rem 0.4rem; font-weight:normal;}
.tgjxnrr2rigp1>span{width:0.29rem; height:0.29rem; float:left;}
.tgjxnrr2rigp1>span>img{width:0.29rem; height:0.29rem;}
.tgjxnrr2rigp1>em{float:left; width:1.2rem; height:0.29rem;font-size:0.29rem; line-height:0.29rem; color:#ffffff; margin-left:0.15rem;}
.tgjxnrr2rigp1>i{float:left; width:0.87rem; height:0.28rem;font-size:0.24rem; line-height:0.28rem; color:#ffffff; margin-left:0.12rem; background:#e00000; text-align:center;}

.gnr2nra{width:93%; height:2.25rem; border-radius:0.05rem; overflow:hidden; background:#fff; margin:0.2rem auto;}
.gnr2nratop{width:100%; height:0.7rem; border-bottom:1px #f3f2f5 solid; display:block;}
.gnr2nratop>p{height:0.38rem; float:left; margin:0.16rem 0rem 0rem 0.4rem;}
.gnr2nratop>p>em{width:0.35rem; height:0.38rem; float:left;}
.gnr2nratop>p>em>img{width:0.35rem; height:0.38rem;}
.gnr2nratop>p>span{float:left;width:4rem; height:0.38rem;font-size:0.3rem; line-height:0.3rem; color:#395983; margin-left:0.19rem; margin-top:0.03rem;}
.gnr2nratop>i{ float:right; width:0.26rem; height:0.23rem; margin:0.25rem 0.5rem 0rem 0rem;}
.gnr2nratop>i>img{width:0.26rem; height:0.23rem;}

.gnr2nrabm{ width:100%; height:1.48rem;}
.gnr2nrabm>li{width:25%; float:left;}
.gnr2nrabm>li>a{display:block;}
.gnr2nrabm>li>a>div{width:0.74rem; height:0.74rem; margin:0.2rem auto 0rem auto;}
.gnr2nrabm>li>a>div>img{width:0.74rem; height:0.74rem;}
.gnr2nrabm>li>a>em{ display:block;width:100%; height:0.26rem; overflow:hidden; margin:0.1rem auto;font-size:0.26rem;line-height:0.26rem; color:#395983; text-align:center;}
.gnr2nrb{width:100%; height:2rem; margin:0.12rem auto; background:#fff; border-radius:0.05rem;}
.gnr2nrbtp{width:100%; height:0.7rem;border-bottom:0.02rem #f3f2f5 solid;}
.gnr2nrbtp>span{ float:left; height:0.7rem;font-size:0.3rem;line-height:0.7rem; color:#395983; padding-left:0.4rem; margin-right:0.3rem;}
.gnr2nrctop{width:93%; height:0.7rem;background:#fff; border-radius:0.05rem; margin:0.2rem auto;}
.gnr2nrctop>p{ width:7rem; float:left;}
.gnr2nrctop>p>em{width:0.44rem; height:0.44rem; float:left; margin:0.11rem 0rem 0rem 0.3rem;}
.gnr2nrctop>p>em>img{width:0.44rem; height:0.44rem;}
.gnr2nrctop>p>span{float:left;width:6rem; height:0.3rem; font-size:0.3rem; line-height:0.3rem; color:#395983; margin-left:0.19rem; margin-top:0.2rem;}

.gjxnr1dv{width:100%; background:#e79700; overflow:hidden; position:relative; z-index:1; padding-bottom:0.25rem;}
.gjxnr3{width:100%;border-left:1px #c35300 solid; overflow:hidden;}
.gjxnr3>span,.gjxnr3>em{ display:block; width:100%; text-align:center; color:#fff; overflow:hidden; margin:auto;}
.gjxnr3>span{height:0.3rem;font-size:0.3rem; line-height:0.3rem;}
.gjxnr3>em{height:0.46rem;font-size:0.46rem; line-height:0.46rem; margin-top:0.19rem; padding-bottom:0.28rem; border-bottom:1px #c35300 solid;}
.gjxnr3bmdv{width:100%; height:0.5rem; margin:auto; overflow:hidden; padding-top:0.2rem; border-top:1px #f8c800 solid;}
.gjxnr3bmdv>span,.gjxnr3bmdv>em{display:block; width:50%; float:left;text-align:center; font-size:0.24rem; line-height:0.24rem; color:#ffffff;}
.gjxnrr2lef{width:1.3rem; height:1.3rem; margin:0.25rem auto 0.17rem auto;border-radius:50%; border:1px #e8e8e8 solid;}
.gjxnrr2lef>img{ width:100%;}
                    
/* 工具箱 -e */