<ion-view class="common-person-view">

    <!-- 主体部分 -->
  <ion-content>

              
            <ul class="gfnleful"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               
              <li>
                <div class="gfnulitp" ng-click="selectItem('index')" ng-class="{gjxtjcss: data.selectedItem=='index'}">
                  <a>账户总览</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectItem('pendings')" ng-class="{gjxtjcss : data.selectedItem=='pendings'}">
                  <a>待办事项</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showItem('pendings')">
                  <a href="" ng-click="selectItem('pendings-bookings')" ng-class="{gjxtjcss : data.selectedItem=='pendings-bookings'}">新预约</a>
                  <a href="" ng-click="selectItem('pendings-orders')" ng-class="{gjxtjcss : data.selectedItem=='pendings-orders'}">新订单</a>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectItem('customers')" ng-class="{gjxtjcss : data.selectedItem=='customers'}">
                  <a>我的客户</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectItem('money')" ng-class="{gjxtjcss : data.selectedItem=='money'}">
                  <a>佣金管理</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showItem('money')">
                  <a href="" ng-click="selectItem('money-unpaid')" ng-class="{gjxtjcss : data.selectedItem=='money-unpaid'}">未结算佣金</a>
                  <a href="" ng-click="selectItem('money-paid')" ng-class="{gjxtjcss : data.selectedItem=='money-paid'}">已结算佣金</a>
                </div>
              </li>
              <li>
                <div class="gfnulitp" ng-click="selectItem('orders')" ng-class="{gjxtjcss: data.selectedItem=='orders'}">
                  <a>订单跟踪</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showItem('orders')">
                  <a href="" ng-click="selectItem('orders-under-push')" ng-class="{gjxtjcss : data.selectedItem=='orders-under-push'}">待报备</a>
                  <a href="" ng-click="selectItem('orders-under-check')" ng-class="{gjxtjcss : data.selectedItem=='orders-under-check'}">待审核</a>
                  <a href="" ng-click="selectItem('orders-complete')" ng-class="{gjxtjcss : data.selectedItem=='orders-complete'}">已完成</a>
                  <a href="" ng-click="selectItem('orders-under-pay')" ng-class="{gjxtjcss : data.selectedItem=='orders-under-pay'}">待付款</a>
                </div>
              </li>
                <div class="gfnulitp" ng-click="selectItem('planning')" ng-class="{gjxtjcss: data.selectedItem=='planning'}">
                  <a>工作规划</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showItem('planning')">
                  <a href="" ng-click="selectItem('planning-tips')" ng-class="{gjxtjcss : data.selectedItem=='planning-tips'}">工作任务</a>
                  <a href="" ng-click="selectItem('planning-notes')" ng-class="{gjxtjcss : data.selectedItem=='planning-notes'}">记事备忘</a>
                </div>
              </li>
              
              <li>
                <div class="gfnulitp" ng-click="selectItem('information')" ng-class="{gjxtjcss: data.selectedItem=='information'}">
                  <a>我的资料</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm" ng-if="showItem('information')">
                  <a href="" ng-click="selectItem('information-bank')" ng-class="{gjxtjcss : data.selectedItem=='information-bank'}">银行卡信息</a>
                  <a href="" ng-click="selectItem('information-password')" ng-class="{gjxtjcss : data.selectedItem=='information-password'}">登入密码</a>
                </div>
              </li>

              <li>
                <div class="gfnulitp" ng-click="logout()" ng-class="{gjxtjcss: data.selectedItem=='logout'}">
                  <a>退出登入</a>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
    
            
            </ul><!-- 左边大分类结束-->
    

       </div>

    </ion-content>
  <multiple-views-support width="25%" />
</ion-view>







