
<ion-nav-bar>
</ion-nav-bar>
<div class="header">
      <div class="hdlogo"><img src="teImg/logotop.png" /></div>
      <div class="hdrpop" ng-click="toggleLeft()"></div>
</div>

<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left" width="180">

        <div class="content cls">
          <div class="main1">

           <ul class="gfnleful"><!-- 左边大分类开始-->
              <li>

                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='index'}" ng-click="selectItem('index')">
                  <span>账户总览</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='pendings'}" ng-click="selectItem('pendings')">
                  <span>待办事项</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
             <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='customers'}" ng-click="selectItem('customers')">
                  <span>我的客户</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='money'}" ng-click="selectItem('money')">
                  <span>佣金管理</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='orders'}" ng-click="selectItem('orders')">
                  <span>订单跟踪</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='bookings'}" ng-click="selectItem('bookings')">
                  <span>历史预约</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='planning'}" ng-click="selectItem('planning')">
                  <span>工作规划</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='information'}" ng-click="selectItem('information')">
                  <span>个人资料</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
               
              </li>
              <li>
                <div menu-close class="gfnulitp" ng-class="{'gjxtjcss':consultant.win=='message'}" ng-click="selectItem('message')">
                  <span>消息中心</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
               <li>
                <div class="gfnulitp" ng-click="logout()">
                  <span>退出登入</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
               
              </li>
            
            </ul><!-- 左边大分类结束-->

        </div>
    </div>


  </ion-side-menu>
  <ion-side-menu-content>

  <ion-view>

  <ion-content class="content cls" ng-switch on="consultant.win">

         <ion-refresher
                refreshing-text="数据正在加载中..."
                pulling-icon="ion-ios-arrow-down"
                spinner="bubbles"
                pulling-text="下拉刷新"
                on-refresh="doRefresh()">
        </ion-refresher>

<!--index-->
<div class="main1" ng-switch-when="index">

 <!-- 中间内容-s --> 
            <div class="gjxnr1dv"><!-- 内容1开始 -->
                <p class="tgjxnrr2rigp1"> <b>王海先生,下午好</b> <span><img src="teImg/gjxnrtaa.png" /></span> <em>高级理财师</em> <i>已认证</i></p>
                <div class="gjxnrr2lef"><img src="teImg/ghnr1lef.png" /></div>
                <div class="gjxnr3">
                    <span>总资产(元)</span>
                    <em>541300.20</em>
                    <div class="gjxnr3bmdv">
                        <span>预期总收益：35000 </span>
                        <em>实际已收益：25030 </em>
                    </div>
                </div>
             </div><!-- 内容1结束 -->


            <div class="gnr2nrctop" ng-click="selectItem('pendings')">
                <p> 
                   <em><img src="teImg/gnr2nr1toplf1.jpg" /></em>  
                   <span>待办事项</span> 
                 </p>
             </div>
  
             
             <div class="gnr2nrctop" ng-click="selectItem('customers')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>我的客户</span> 
                 </p>
             </div>
             
             <div class="gnr2nrctop" ng-click="selectItem('money')">
                <p> 
                   <em><img src="teImg/headr2.png" /></em>  
                   <span>佣金管理</span> 
                 </p>
             </div>
             
             <div class="gnr2nrctop" ng-click="selectItem('orders')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>订单跟踪</span> 
                 </p>
             </div>
             <div class="gnr2nrctop" ng-click="selectItem('bookings')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>历史预约</span> 
                 </p>
             </div>
             <div class="gnr2nrctop" ng-click="selectItem('planning')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>工作规划</span> 
                 </p>
             </div>
             <div class="gnr2nrctop" ng-click="selectItem('information')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>我的资料</span> 
                 </p>
             </div>
              <div class="gnr2nrctop" ng-click="selectItem('message')">
                <p> 
                   <em><img src="teImg/yjlcs.png" /></em>  
                   <span>消息中心</span> 
                 </p>
             </div>
            
            <!-- 中间内容-e -->
</div> <!--main1-->
<!--index-->




<!--待办事项-->
  <div class="main1" ng-switch-when='pendings'>
        <div class="twdyydvda">
                  <ul class="ddxqtopqhul"><!--top分类-s-->
                     <li ng-class="{'ddxqcss': consultant.pendings.win=='bookings'}" ng-click="selectPendings('bookings')"><a href="">新预约</a></li>
                     <li ng-class="{'ddxqcss': consultant.pendings.win=='orders'}" ng-click="selectPendings('orders')"><a href="">新订单</a></li>
                  </ul><!--top分类-e-->


                      <div class="wdyydv" ng-if="consultant.pendings.win=='bookings'"><!-- 我的预约-s -->
                        <div ng-repeat="booking in consultant.bookings.data.all" ng-click="goBooking(booking.id)">
                        
                             <div class="sdyybmdv">
                                 <div class="wdyyf"><img src="teImg/ghnr1lef.png" /></div>
                                 <div class="sdyyr">
                                      <p class="wdyyrp1">
                                         <span>王海先生 </span>
                                         <em>白金用户</em>
                                         <b>电话：1300004500 </b>
                                      </p>
                                      
                                      <div class="wdyynr2v">
                                         <span>{{booking.product.issuer}} </span>
                                         <em>返佣比2%</em>
                                         <a href=""><span>查看详情</span> <em></em></a>
                                      </div>
                                 </div>
                            </div>
                            <div class="wdyydvtop"><span>2015 / 08 / 28</span> <em>[未服务]</em> </div>

                          </div>
          
                      </div><!-- 我的预约-e -->

                      <div class="gxqbddnr" ng-if="consultant.pendings.win=='orders'">
                        <div class="gxqbddnrf">
                          <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                          <em>王海</em>
                        </div>
                        <div class="gxqbddnrr">
                           <p><span>[私募]粤财·瀚信中鼎盈丰2期</span> <em>已完成</em> <i>返佣比2%</i></p> 
                           <span>当前持有资产(元) <em> 541321242100.20</em></span>
                        </div>
                      </div>

          </div>  
  </div>
<!--待办事项完成-->
    
<div class="main1" ng-switch-when='customers'>
           <div class="gjxnrtpyyre">  
            <div class="khlbtop"><!--内容top开始-->  
                <a  href="" class="khlbtopf"> <span>全 部</span> <em></em></a>
                <div class="khlbpr">
                  <form>
                       <input type="text"  class="khlbprput" placeholder="请输入客户的姓名"/>
                       <input type="submit" class="khlbprtj" value="" />
                  </form>
                </div> 
            </div><!--内容top结束-->
          </div>  

          <div class="gnr2ma"> <!--内容主体开始-->
            
              <ul class="gnr2lbul">

                <li><img src="teImg/ghnr1lef.png" /><span>王海</span> <em>new</em></li>
                <li><img src="teImg/ghnr1lef.png" /><span>王海</span> <em>new</em></li>
                <li><img src="teImg/ghnr1lef.png" /><span>王海</span></li>
                <li><img src="teImg/ghnr1lef.png" /><span>王海</span></li>

              </ul>

        </div>
</div>

<div class="main1" ng-switch-when='money'>
  <div class="gzghp1">
     <span>佣金金额</span>
     <em>541300.20</em>
     <div class="gzghp1mx"></div>
     <h1 class="gjxppm">本月已返佣 20080.00  </h1>
   </div>

   <div class="yjdv11">
    <p class="yjdv11pa"><span>客户 : 商梅女士</span> <em>返佣：<i>353000</i> </em></p>
    <b></b>
    <p class="yjdv11pb"><span>交易号：0232011</span> <em>时间 ：2015.08.07</em></p>
  </div>



  <div class="yjdv11">
    <p class="yjdv11pa"><span>客户 : 商梅女士</span> <em>返佣：<i>353000</i> </em></p>
    <b></b>
    <p class="yjdv11pb"><span>交易号：0232011</span> <em>时间 ：2015.08.07</em></p>
  </div>
  <div class="yjdv11">
    <p class="yjdv11pa"><span>客户 : 商梅女士</span> <em>返佣：<i>353000</i> </em></p>
    <b></b>
    <p class="yjdv11pb"><span>交易号：0232011</span> <em>时间 ：2015.08.07</em></p>
  </div>
  <div class="yjdv11">
    <p class="yjdv11pa"><span>客户 : 商梅女士</span> <em>返佣：<i>353000</i> </em></p>
    <b></b>
    <p class="yjdv11pb"><span>交易号：0232011</span> <em>时间 ：2015.08.07</em></p>
  </div>           
</div>

<!-- information -->
<div class="main1" ng-switch-when='information'>
  <ul class="zhyhktpul">
    <li ng-class="{'zhyhkpulcss': consultant.information.win=='bank'}" ng-click="selectInformation('bank')"><a href="">银行卡认证</a></li>
    <li ng-class="{'zhyhkpulcss': consultant.information.win=='profile'}" ng-click="selectInformation('profile')"><a href="">个人信息设置</a></li>
    <li ng-class="{'zhyhkpulcss': consultant.information.win=='password'}" ng-click="selectInformation('password')"><a href="">密码设置</a></li>
  </ul>

  <div class="zhyhknr"><!--工具箱-银行卡认证内容部分-s-->
   <form ng-if="consultant.information.win=='bank'">
    <div class="zhyhknr1"><span>开户人姓名</span> <input type="text"  placeholder="请输入您的姓名"/></div>
    <div class="zhyhknr2"><span>选择银行</span> <a href="">请选择</a><input type="button" /></div>
    <div class="zhyhknr1"><span>银行卡号</span> <input type="text" placeholder="该银行卡为您提现、回款时的默认银行卡" /></div>
    <div class="zhyhknr1"><span>身份证号码</span> <input type="text" placeholder="请填写您的真实身份证号，验证后不得修改" /></div>
    <div class="zhyhknr1"><span>手 机 号</span> <input type="text" placeholder="请输入手机号" /></div>
    <div class="zhyhknr3"><span>验 证 码</span> <input type="text" placeholder="请填写您接收到的验证码"/> <a href="">43秒后重发</a></div>
    <input class="yhkqd" value="确定"  type="submit"/>
  </form>

  <form ng-if="consultant.information.win=='profile'">

    <div class="zhkhimgdv">
     <span>设置头像</span>
     <p>
       <img src="teImg/ghnr1lef.png" />
       <a href=""></a>
     </p>

   </div>
   <div class="zhyhknr1"><span>真实姓名</span> <input type="text" placeholder="请重复输入您的姓名" /></div>

   <div class="shkdsr">
    <label>男 <input name="first" type="radio" value="" class="shkdsrnan" /></label>
    <label>女 <input name="first" type="radio" value="" class="shkdsrnan" /></label>
  </div>


  <div class="zhyhknr3"><span>手 机 号</span> <input type="text" placeholder="请输入您要修改的手机号证码"/> <a href="">修改</a></div>
  <div class="zhyhknr3"><span>邮箱地址</span> <input type="text" placeholder="请输入您要绑定的邮箱"/> <a href="">绑定</a></div>
  <input class="yhkqd" value="确定"  type="submit"/>
</form>

<form ng-if="consultant.information.win=='password'"> 
  <div class="zhyhknr1"><span>当前登录密码</span> <input type="text"  placeholder="请输入您的原始登录密码"/></div>
  <div class="zhyhknr1"><span>新 密 码</span> <input type="text" placeholder="8-20位，必须含有字母" /></div>
  <div class="zhyhknr1"><span>确认新密码</span> <input type="text" placeholder="请重复输入你的密码" /></div>
  <div class="zhyhknr1"><span>手 机 号</span> <input type="text" placeholder="请输入手机号" /></div>
  <div class="zhyhknr3"><span>验 证 码</span> <input type="text" placeholder="请填写您接收到的验证码"/> <a href="">43秒后重发</a></div>
  <input class="yhkqd" value="确定"  type="submit"/>
</form>

</div><!--工具箱-银行卡认证内容部分-e-->
</div>
<!-- information -->


<!-- planning -->
<div class="main1" ng-switch-when='planning'>
            <div class="gzghp1">
                 <span>总业绩(元)</span>
                 <em>541300.20</em>
                 <div class="gzghp1mx"></div>
                 <p>
                   <em>目标业绩：3500000 </em>
                   <i>已获佣金：250030 </i>
                 </p>
              </div>
              <div class="gzghp2">
                 <span></span>
                 <em>月度规划</em>
              </div>
              <div class="gzghnr3dv">
                <div class="gzghnr3f"><span>63%</span></div>
                <div class="gzghnr3r">
                   <p><span>2015年已完成业绩（ 元） <em> 541300.20</em></span></p>
                   <p><span>2015年目标业绩（元） <em> 541300.20</em></span></p>
                </div>
              </div>
              
              
              <div class="gzghp2">
                 <span></span>
                 <em>年度规划</em>
              </div>
              <div class="gzghnr3dv">
                <div class="gzghnr3f"><span>63%</span></div>
                <div class="gzghnr3r">
                   <p><span>2015年已完成业绩（ 元） <em> 541300.20</em></span></p>
                   <p><span>2015年目标业绩（元） <em> 541300.20</em></span></p>
                </div>
              </div>
              
              <div class="gzghp3">
                 <span></span>
                 <em>历史记录</em>
              </div>
              
              <div class="tgzghnr3dv">
                <div class="tgzghnr3f">
                  <span>2015.07</span>
                  <p>完成率 <em> 120%</em></p>
                </div>
                <div class="tgzghnr3r">
                   <p><span>2015年已完成业绩（ 元） <em> 541300.20</em></span></p>
                   <p><span>2015年目标业绩（元） <em> 541300.20</em></span></p>
                </div>
              </div>
              <div class="tgzghnr3dv">
                <div class="tgzghnr3f">
                  <span>2015.07</span>
                  <p>完成率 <em> 120%</em></p>
                </div>
                <div class="tgzghnr3r">
                   <p><span>2015年已完成业绩（ 元） <em> 541300.20</em></span></p>
                   <p><span>2015年目标业绩（元） <em> 541300.20</em></span></p>
                </div>
              </div>
</div>
<!-- planning -->


<!-- message -->
<div class='main1' ng-switch-when='message'>
 <div class="tddztdv">

  <ul class="ddxqtopqhul"><!--top分类-s-->
   <li class="ddxqcss"><a href="">系统消息</a></li>
  </ul><!--top分类-e-->

   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>
   <span class="gxxxsp"> [预约成功]粤财·瀚信中鼎盈丰2期！</span>


 </div>

</div>


<!-- bookings -->
<div class="main1" ng-switch-when='bookings'>
  <div class="gjxnrtpyyre">  
    <div class="khlbtop"><!--内容top开始-->  
      <a  href="" class="khlbtopf"> <span>全 部</span> <em></em></a>
      <div class="khlbpr">
        <form>
         <input type="text"  class="khlbprput" placeholder="请输入客户的姓名"/>
         <input type="submit" class="khlbprtj" value="" />
       </form>
     </div> 
   </div><!--内容top结束-->
  </div> 


  <div class="gxqbddnrtt"><!-- 我的预约-s -->
    <div ng-repeat="booking in consultant.bookings.data.all" ng-click="goBooking(booking.id)">

     <div class="sdyybmdv">
       <div class="wdyyf"><img src="teImg/ghnr1lef.png" /></div>
       <div class="sdyyr">
        <p class="wdyyrp1">
         <span>王海先生 </span>
         <em>白金用户</em>
         <b>电话：1300004500 </b>
       </p>

       <div class="wdyynr2v">
         <span>{{booking.product.issuer}} </span>
         <em>返佣比2%</em>
         <a href=""><span>查看详情</span> <em></em></a>
       </div>
     </div>
   </div>
   <div class="wdyydvtop"><span>2015 / 08 / 28</span> <em>[未服务]</em> </div>

 </div>

</div><!-- 我的预约-e -->


</div>
<!-- bookings -->


<!-- orders -->
<div class="main1" ng-switch-when='orders'>
  <div class="gjxnrtpyyre">  
    <div class="khlbtop"><!--内容top开始-->  
      <a  href="" class="khlbtopf"> <span>全 部</span> <em></em></a>
      <div class="khlbpr">
        <form>
         <input type="text"  class="khlbprput" placeholder="请输入客户的姓名"/>
         <input type="submit" class="khlbprtj" value="" />
       </form>
     </div> 
   </div><!--内容top结束-->
  </div> 

 <div class="gxqbddnrtt">

  <div class="gxqbddnr">
    <div class="gxqbddnrf">
      <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
      <em>王海</em>
    </div>
    <div class="gxqbddnrr">
     <p><span>[私募]粤财·瀚信中鼎盈丰2期</span> <em>已完成</em> <i>返佣比2%</i></p> 
     <span>当前持有资产(元) <em> 541321242100.20</em></span>
   </div>
  </div>

  <div class="gxqbddnr">
    <div class="gxqbddnrf">
      <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
      <em>王海</em>
    </div>
    <div class="gxqbddnrr">
     <p><span>[私募]粤财·瀚信中鼎盈丰2期</span> <em>已完成</em> <i>返佣比2%</i></p> 
     <span>当前持有资产(元) <em> 541321242100.20</em></span>
   </div>
  </div>


  <div class="gxqbddnr">
    <div class="gxqbddnrf">
      <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
      <em>王海</em>
    </div>
    <div class="gxqbddnrr">
     <p><span>[私募]粤财·瀚信中鼎盈丰2期</span> <em>已完成</em> <i>返佣比2%</i></p> 
     <span>当前持有资产(元) <em> 541321242100.20</em></span>
   </div>
  </div>


  </div>

</div>
<!-- orders -->

  </ion-content>
</ion-view>

  </ion-side-menu-content>
</ion-side-menus>


