<!--
<ion-nav-bar class="bar-dark">
  <ion-nav-buttons side="left">
   <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
      <ion-nav-title>
      发现
    </ion-nav-title>
</ion-nav-bar>-->
<ion-nav-bar>

</ion-nav-bar>
<div class="header">
      <div class="hdlogo"><img src="teImg/logotop.png" /></div>
      <div class="hdrback" ng-click="goBack()"></div>
</div>

<ion-view view-title="首席金服">
  <ion-content class="content cls">
    <div class="main1">
        <div class="bxcpxqdv"><!--保险产品详情上部分-s-->
            
           <div class="xxlsrrp">
              <span class="xxlsyyss1">推荐</span>
              <span class="xxlsyyss2">热销</span>
              <em>粤财·瀚信中鼎盈丰2期</em>
              <a></a>
           </div>
           
           
           <div class="xtbldv">
              <i>63%</i>
              <span>剩余时间<em>26</em>天</span>
           </div>
           
           
           <div class="bcsnr1"><!--保险产品详情板块1-s-->
           
             <div class="bcsnr11d">
                 <div class="bcsnr1f">
                    <span>15.62%</span>
                    <em>预期年化</em>
                 </div>
                 <div class="bcsnr1f">
                    <span>18个月</span>
                    <em>理财期限</em>
                 </div>
             </div>
             
             <div class="bcsnr1m22">
                <p>认购金额  <em> 300-599</em> 万元</p>
                <p>目标规模  <em> 100000000</em> 万元</p>
             </div>
             
           </div><!--保险产品详情板块1-s-->
           

         </div> <!--保险产品详情上部分-e-->   
         
         
         
         <div class="bpxqbk2dv"><!--保险产品详情板块2-s-->
              <span class="bpbk2tit">基本信息</span>
              <p><span>产品全称</span> <em>粤财·瀚信中鼎盈丰2期</em></p>
              <p><span>发行规模 </span> <em>15000万</em></p>
              <p><span>发行机构 </span> <em>江苏紫鑫投资管理有限公司</em></p>
              <p><span>发行地区</span> <em>广州</em></p>
              <p><span>抵押物情况</span> <em>有</em></p>
              <p><span>抵押率</span> <em>60.00</em></p>
             
         </div><!--保险产品详情板块2-e-->
         
         <div class="bpxqbk2dv"><!--保险产品详情板块3-s-->
              <span class="bpbk2tit">投保账户</span>
              <p><span>产品全称</span> <em>粤财·瀚信中鼎盈丰2期</em></p>
              <p><span>发行规模 </span> <em>15000万</em></p>
              <p><span>发行机构 </span> <em>江苏紫鑫投资管理有限公司</em></p>
              <p><span>发行地区</span> <em>广州</em></p>
              <p><span>抵押物情况</span> <em>有</em></p>
              <p><span>抵押率</span> <em>60.00</em></p>
             
         </div><!--保险产品详情板块3-e-->
              
              
          <div class="bxxqbmdg">
             <a class="fxyycpsg" href="#common/product/option/{{pid}}">预约产品</a> 
             <a class="fxyycpyy" href="#common/product/option/{{pid}}">立即申购</a> 
          </div>    

    </div>
  </ion-content>
</ion-view>