<!--提示页-->


<div ng-switch on="data.warning.status">

  <div class="tsdadv" ng-switch-when='success' ng-click='closeWarning()'>
    <div class="tsma">
      <img src="teImg/rctslog.png" />
      <span>{{data.warning.words}}</span> 
    </div>
  </div>


  <div class="tsdadv" ng-switch-when='fail' ng-click='closeWarning()'>
    <div class="tsma">
      <img src="teImg/lbatsk.png" />
      <span>{{data.warning.words}}</span> 
    </div>
  </div>

</div>


<!--提示页-->

  <div ng-switch on="data.popup">

   <!-- 产品详情预约开始 -->
    <div class="cpyyxxdv"  ng-switch-when="BookingDialog">
      <div class="cpyyxxdvm">
  
      <div class="zcback" ng-click="backProduct()"><img src="teImg/zcback.png" /></div><!-- 返回 -->
      <div class="zcclos" ng-click="closePopup('BookingDialog')"><img src="teImg/zcclose.png" /></div><!-- 关闭 -->
          
          <span class="zcwjtit1">预 约</span>
          <span class="xpqqyyt2">{{data.looking_product.issuer}}</span>
          
          <div class="xpqqt3">
             <p>
               <span>预期年化 </span>
               <em> 10.50%</em>
             </p>
             <p>
               <span>理财期限 </span>
               <em>  18个月</em>
             </p>
          </div>
          
          
          <div class="cpxqyynrdv">
             <div class="cpxqyynrdvyy"></div>
             <span class="cpxqyynrsp1">预约金额</span>
            <form>
             <div class="ccyyjjdv">
               
                  <input type="button" class="xpwwyyf" ng-click='data.dialog.decrease()' />
                  <input type="text" class="xpwwyym" placeholder="{{data.dialog.booking.quantity}}"/>
                  <input type="button" class="xpwwyyr" ng-click='data.dialog.increase()' />
               
             </div>
             <p class="xxccms"><span>最低10000起</span> <span>每10000累加</span> <span>最高可以预约20份</span></p>
             <p class="zcmmjs">
                <span><img src="teImg/zcmmjslog2.jpg" /></span>
                <em>我已阅读并同意<i>《首席金服用户协议》</i></em>
             </p>
          </div>
          
          <input type="submit"  class="ccxxdvtj" value="提交预约" ng-click="addBooking()"/>
          
        </form>  
      </div>
    </div>
   <!-- 产品详情预约结束 -->


   <!-- 产品详情申购开始 -->
    <div class="cpyyxxdv"  ng-switch-when="OrderDialog">
      <div class="cpyyxxdvm">
  
          <div class="zcback" ng-click="backProduct()"><img src="teImg/zcback.png" /></div><!-- 返回 -->
          <div class="zcclos" ng-click="closePopup('OrderDialog')"><img src="teImg/zcclose.png" /></div><!-- 关闭 -->
          
          <span class="zcwjtit1">申 购</span>
          <span class="xpqqyyt2">{{data.looking_product.issuer}}</span>
          
          <div class="xpqqt3">
             <p>
               <span>预期年化 </span>
               <em> 10.50%</em>
             </p>
             <p>
               <span>理财期限 </span>
               <em>  18个月</em>
             </p>
          </div>
          
          
          <div class="cpxqyynrdv">
             <div class="cpxqyynrdvyy"></div>
             <span class="cpxqyynrsp1">申购金额</span>
            <form>
             <div class="ccyyjjdv">
               
                  <input type="button" class="xpwwyyf" ng-click='data.dialog.decrease()' />
                  <input type="text" class="xpwwyym" placeholder="{{data.dialog.order.quantity}}"/>
                  <input type="button" class="xpwwyyr" ng-click='data.dialog.increase()' />
               
             </div>
             <p class="xxccms"><span>最低10000起</span> <span>每10000累加</span> <span>最高可以预约20份</span></p>
             <p class="zcmmjs">
                <span><img src="teImg/zcmmjslog2.jpg" /></span>
                <em>我已阅读并同意<i>《首席金服用户协议》</i></em>
             </p>
          </div>
          
          <input type="submit"  class="ccxxdvtj" value="提交申购" ng-click="addOrder()"/>
          
        </form>  
      </div>
    </div>
   <!-- 产品申购结束 -->
  </div>


<ion-tabs class="tabs-item-hide">
  <ion-tab>
    <ion-nav-view name="order-detail"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view name="common-register"></ion-nav-view>
  </ion-tab>

  <ion-tab>
    <ion-nav-view name="common-product"></ion-nav-view>
  </ion-tab>

</ion-tabs>